//-------------------------------------------------------
// Base Classes
//-------------------------------------------------------

.validation-item-flex {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.border-box-style {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

$error-color: #ef473a;

//-------------------------------------------------------
// Transitions
//-------------------------------------------------------

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

$error-icon-transition: opacity 0.2s ease-in-out, margin 0.2s ease-in-out;
$error-style-on-transition: box-shadow 0.2s linear, border 0.2s linear, padding 0.2s linear, z-index 0.2s step-end;
$error-style-off-transition: box-shadow 0.2s linear, border 0.2s linear, padding 0.2s linear, z-index 0.2s step-start;
$error-message-transition: opacity 0.2s ease-in-out, max-height 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;


//-------------------------------------------------------
// Outer container
//-------------------------------------------------------

.validation-item-container {
    @extend .border-box-style;
}

// Makes sure that all inputs fill the width of the container
.validation-item-container input, .validation-item-container select {
    width: 99%;
}

// Mimics style of ionic inputs
.validation-item-container.ionic-style {
    margin: -1px;
    border: 1px solid #ddd;
    
    // Transition stuff
    position: relative;
    z-index: 0;
}
.list-inset .validation-item-container.ionic-style {
    margin-left: 0;
    margin-right: 0;
}
.card .validation-item-container.ionic-style {
    border-left: 0;
    border-right: 0;    
}

// Round top border corners in first list item
.list-inset ng-form:first-child .validation-item-container.ionic-style {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
// Round bottom border corners in last list item
.list-inset ng-form:last-child .validation-item-container.ionic-style {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

// Raises inputs with errors so that borders will appear completely on top of other items without errors
.validation-item-container.ionic-style.animate.has-error {
    @include transition($error-style-off-transition);
}

.validation-item-container.ionic-style.has-error {
    -webkit-appearance: none;
    z-index: 10;
}

.validation-item-container.animate {
    @include transition($error-style-on-transition);
}
    
// Bar styled error
.validation-item-container.ionic-style.has-error.default-error-class {
    box-shadow: inset 13px 0 0 -10px $error-color;
    padding-left: 3px;
}

//-------------------------------------------------------
// Item container
//-------------------------------------------------------

.validation-item-container .item-container {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

// Forces items to use margin instead of padding so that box-shadows will show up
.validation-item-container .item.item-input {
    border: 0;
    border-radius: 0;
    margin:0;
}

.validation-item-container .item.item-input-inset {
    border: 0;
    padding: 0;
    margin: 10.6667px;
}
.validation-item-container.has-error .item.item-input-inset {
    margin-right: 0;
}

// Enables animations
.validation-item-container.animate:not(.ionic-style) input {
    @include transition($error-style-on-transition);
}

// This is required for use of box-shadows on iOS
.validation-item-container:not(.ionic-style) input {
     -webkit-appearance: none;
}

// The default error class for regular inputs
.validation-item-container.has-error:not(.ionic-style) input.default-error-class {
     box-shadow: inset 13px 0 0 -10px $error-color;
}



//-------------------------------------------------------
// Icon container
//-------------------------------------------------------

.validation-item-container .icon-container {
    @extend .validation-item-flex;
    
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto; 
    
    font-size: 16px;
}

.validation-item-container .error-icon {
    -webkit-align-self: center;
    align-self: center;
    
    padding-left: 7px;
    margin-right: -25px;
    opacity: 0;    
}

.validation-item-container.animate .error-icon {
    @include transition($error-icon-transition);
}

.validation-item-container .error-icon.assertive {
    color: $error-color;
}

.validation-item-container.has-error .error-icon {
    opacity: 1;
}


//-------------------------------------------------------
// Error message container
//-------------------------------------------------------

.validation-item-container .error-message {
    font-size: 14px;
    white-space: normal;
    
    // Used for the animations
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.validation-item-container.animate .error-message  {
    @include transition($error-message-transition);
}

.validation-item-container.has-error.message-open .error-message {
    opacity: 1;
}

// Side padding for ionic style
.validation-item-container.ionic-style .error-message {
    padding: 0 16px;
}

// Adds botttom padding when the error message is open
.validation-item-container.ionic-style.has-error.message-open .error-message {
    padding-bottom: 4px;
}


/* 

These styles are used if multiple inputs are within a validation item 
They bunch the items closer together and remove borders between them 

I cannot think of another reason to have multiple inputs within a single validation item
unless it is to have a directive using ngModelController that requires multiple inputs
   
*/

// Removes padding in between items
.validation-item-container .item.item-input:not(:first-child) {
    padding-top:0;
}

.validation-item-container .item.item-input:not(:last-child) {
    padding-bottom:0;
}

// Repositions the select
.validation-item-container .item.item-input.item-select:first-of-type > select {
    margin-top:7px;
}

.validation-item-container .item.item-input.item-select:last-of-type > select {
    margin-bottom:5px;
}

.validation-item-container .item.item-input.item-select:first-of-type:not(:last-of-type) > select {
    margin-bottom:-2px;
}

.validation-item-container .item.item-input.item-select:last-of-type:not(:first-of-type) > select {
    margin-top:2px;
}

// Repositions the carot for the select
.validation-item-container .item.item-input.item-select:first-of-type:not(:last-of-type):after {
    margin-top:2px;
}

.validation-item-container .item.item-input.item-select:last-of-type:not(:first-of-type):after {
    margin-top:-4px;
}

